*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.container{
    margin: 0 auto;
    width: 1200px;
    
    text-align: center;
    background-color: white;
}

header{
    color:rgb(212, 10, 78)
}

.intro{
    margin-top: 30px;
}

.row{
    margin-top: 20px;
}

.column{
    text-align: justify;
    display: inline-block;
    width: calc(100% / 3);
    height: 90px;
    background-color: rgb(28, 3, 51);
    color: white;
    padding: 5px;
    line-height: 28px;
}

.left{
    max-height: 100%;
    float: left;
}

.text-profile{
    vertical-align: middle;
    margin-left: 100px;
    margin-top: 5px;
}

.clearfix::after{
    content: '';
    clear: both;
    display: block;
}

.email{
    color: rgb(15, 161, 251);
}