* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Fredoka', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

h1 {
    color: rgb(212, 10, 78);
    text-align: center;
    margin-top: 20px;
}

.intro{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.clearfix::after,
.row::after
{
    content: '';
    clear: both;
    display: table;
}

.row{
    margin: 0 -20px;
}

.column{
    width: calc(100% / 3);
    padding: 20px;
    float: left;
}

.card{
    background-color: black;
    height: 110px;
    color: white;
}

.card-img,
.card-img > img {
    height: 100%;
    float: left;
    margin-right: 10px;
}

.card-details{
    padding: 10px;
    line-height: calc(90px / 3);
}

a{
    color: rgb(15, 161, 251);
}